<div id="readium-toc-body">
</div>
<div id="reading-area">
          <!-- Previous page -->
  <a accesskey="p" href="#" id="previous-page-btn" class="page-switch-overlay-icon" role="button" title="P̲revious Page" style="z-index:1">
      <img src="images/pagination1.svg">
  </a>
  <!-- Next page -->
  <a accesskey="n" href="#" id="next-page-btn" class="page-switch-overlay-icon" role="button" title="N̲ext Page" style="z-index:1">
      <img src="images/pagination1.svg">
  </a>
  <div id="epub-reader-container">
  </div>
</div>
<div id="sidebar">
  Add a comment...
  <p>
    <div>Name:</div>
    <div>
      <input id="name" name="name">
    </div>
  </p>
  <p>
    <div>Comment:</div>
    <div>
      <input id="comment" name="comment">
    </div>
  </p>
  <p>
    <div>Role:</div>
    <div>
      <div>
        <input name="role" value="affirmation" type="radio" checked>
        <span>Affirmation</span>
      </div>
      <div>
        <input name="role" value="argument" type="radio">
        <span>Argument</span>
      </div>
      <div>
        <input name="role" value="opinion" type="radio">
        <span>Opinion</span>
      </div>
      <div>
        <input name="role" value="question" type="radio">
        <span>Question</span>
      </div>
    </div>
  </p>
  <button id="send_comment">Send</button>
</div>